################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ahoraes/.vs/ahoraes/v16/Server/sqlite3/db.lock
